body{
  text-align:Center;
  background-color:pink;
  font-family:"Roboto",sans-serif;
}

img{
 height:150px;
 text-align:center;
 border-style:outset;
 border-color:blue;
}

h1{
  color:red;
  border-style:outset;
  background-color:orange;
  border-color:yellow;
}

p{
  Color:navy;
  background-color:yellow;
  border-style:outset;
  border-color:Green;
}
